*{
    margin: 0;
    padding: 0;
}

.grid-container{
    border: 1px solid black;
    margin: 10vh 20px;
    height: 80vh;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.grid-item{
    /* width: 90px;
    height: 90px; */

    background-color: aqua;
    border: 1px solid red;
}

.grid-item-1{
    background-color: chartreuse;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}